body {
	background:aquamarine;
}

h1 {
	color:red;
}

h2 {
	color:green;
	text-decoration:underline; 
}

a:hover {
	color:orange;
}

.wrapper {
	border:1px solid red;
	padding:1em;
	margin-left:1em;
}   
.container {
	border-top-style:dotted;
	padding-right:30px;
	margin-top:auto;
}

.align-center {
	float:center;
	margin:3em 0 2em 1;
}

.align-left {
	float:left;
	margin:1em 0 4em 1;
}